doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0')
        title 〈第一屆〉危老都更博覽會 樂居好城市
        // Global site tag (gtag.js) - Google Analytics
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-57864110-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-57864110-1');
        // Facebook og
        meta(property='og:site_name' content='〈第一屆〉危老都更博覽會 樂居好城市')
        meta(property='og:title', content='〈第一屆〉危老都更博覽會 樂居好城市')
        meta(property='og:image' content='http://www.wealth.com.tw/safehouse1/assets/cms/images/fb-og.jpg')
        meta(property='og:url', content='http://www.wealth.com.tw/safehouse1/')
        meta(property='og:description', content='危老都更博覽會：匯聚都市更新相關產業透過博覽會的舉辦，鼓勵民眾從都更及危老重建的思考角度出發、闔家參與，善用政府的危老都更政策，搭配營建業者提出的翻修或改建方案，讓家有更好的未來！')
        meta(property='og:type' content='website')
        meta(property='fb:app_id' content='398858137734889')
        meta(name='keywords', content='危老建築、都市更新、都更、房價、不動產、房地產、貸款、房仲、老屋改建、住宅容積、加速重建條例、危老條例、耐震、地震、都市計劃、建築容積、都市再生、文化資產、老屋重建、危老獎勵、危老重建、老屋翻新')
        meta(name='description', content='危老都更博覽會：匯聚都市更新相關產業透過博覽會的舉辦，鼓勵民眾從都更及危老重建的思考角度出發、闔家參與，善用政府的危老都更政策，搭配營建業者提出的翻修或改建方案，讓家有更好的未來！')
        link(rel='stylesheet', href='assets/cms/css/bootstrap-reset-breakpoint.css')
        link(rel='stylesheet', href='assets/cms/css/module/animate.css')
        link(rel='stylesheet', href='assets/cms/css/layout.css')
        link(rel='stylesheet', href='assets/cms/css/style.css')
        // Google Tag Manager
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5N96QXB');
        // End Google Tag Manager

body
    // Google Tag Manager (noscript)
    noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5N96QXB' height='0' width='0' style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)

    // ============================== header 立即報名start =============================
    header#header
        .header-wrap
            .header-content.wow.fadeIn
                .main-title
                    h1
                        span.wow.zoomIn(data-wow-duration='.5s' data-wow-delay='.6s')
                            img(src='assets/cms/images/good-city.svg')
                        img.wow.fadeInLeft(src='assets/cms/images/main-title.svg' data-wow-duration='.8s' data-wow-delay='.3s')
                    p.slogan.wow.fadeInRight(data-wow-duration='.8s' data-wow-delay='.3s')
                        img(src='assets/cms/images/description.svg')
    nav
        button.btn-menu.d-block.d-sm-none(type="button")
            .line.line1
            .line.line2
            .line.line3
        .menu-list
            ul
                li
                    p.anchor(data-href='#activity') 博覽會
                li
                    p.anchor(data-href='#seminar') 研討會
                li
                    p.anchor(data-href='#about') 什麼是危老都更
                li
                    p.anchor(data-href='#playlist') 精彩影片
                //li
                //    p.anchor(data-href='#gallary') 精彩照片
                li
                    p.anchor(data-href='#partner') 合作夥伴
                li.sns-btn
                    ol
                        li
                            a.fb(target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fshuwei.wined.nctu.me%2Fhouse-renewal&display=touch')
                                img(src='assets/cms/images/fb-icon.svg')
                        li.d-inline-block.d-sm-none
                            script.
                                //<![CDATA[
                                (function () {
                                    var img = "assets/cms/images/line-icon.svg", // line 按鈕圖示
                                        title = "《" + document.title + "》",
                                        url = "http://www.wealth.com.tw/safehouse1/",
                                        href, html,
                                        text1 = "〈第一屆〉危老都更博覽會 樂居好城市";
                                    text2 = "危老都更博覽會：匯聚都市更新相關產業透過博覽會的舉辦，鼓勵民眾從都更及危老重建的思考角度出發、闔家參與，善用政府的危老都更政策，搭配營建業者提出的翻修或改建方案，讓家有更好的未來！";

                                    // 行動裝置語法
                                    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                                        href = "http://line.naver.jp/R/msg/text/?" + title + "%0D%0A" + url + "%0D%0A" + text1 + "%0D%0A" + text2;
                                    } else {
                                        // 網頁版語法
                                        href = "https://lineit.line.me/share/ui?url=" + encodeURIComponent(url);
                                    }
                                    html = "<a href='" + href + "' target='_blank'><img src='" + img + "'/></a>";
                                    document.write(html);
                                })();
                                //]]>
    // ============================== header close =============================
    a.go-top.anchor(data-href='#header')
    // ============================== main start ===============================
    main
        article
            section.activity#activity
                #expo.wrap.wow.fadeIn
                    .light.wow.zoomIn(data-wow-duration='.8s' data-wow-delay='.5s')
                    .content.wow.fadeInUp(data-wow-duration='.8s' data-wow-delay='.8s')
                        h3 博覽會
                        p.caption
                            | 現場匯聚危老及都更所有相關產業，
                            br
                            | 以輕鬆有趣、寓教於樂的形式，
                            br
                            | 一同了解危險老舊建築與都市更新有多重要。
                            br
                            | 歡迎闔家光臨~為我們的城市未來努力吧！
                            br
                            span 現場來就送財訊專刊+博覽會專用提袋
                        .activity-info
                            p
                                span.tag 時間
                                | 2019年12月7日(六)  9:30~16:00
                            p
                                span.tag 地點
                                | 臺北商業大學(濟南路一段321號)
                                a.map-icon(href='https://goo.gl/maps/qx5TtxQojwdGvAkM8' target='_blank' data-wow-duration='.8s' data-wow-delay='1s' data-wow-iteration='infinite')
                                    img(src='assets/cms/images/map-icon.png')
                        .info-list
                            a(href='#' data-toggle='modal' data-target='#stageModal') 舞台活動
                            //- a(href='#' data-toggle='modal' data-target='#boothModal') 攤位內容
                            a(href='https://www.wealth.com.tw/safehouse1/map.jpg' target="_blank") 攤位內容
                            a(href='#' data-toggle='modal' data-target='#activityModal') 活動體驗
                            a(href='#' data-toggle='modal' data-target='#lotteryModal') 抽獎專區
                #seminar.wrap.wow.fadeIn
                    .light.wow.zoomIn(data-wow-duration='.8s' data-wow-delay='.5s')
                    .content.wow.fadeIn(data-wow-duration='.8s' data-wow-delay='.8s')
                        h3 危老+都更研討會
                        p.caption
                            | 根據內政部統計，
                            br.d-block.d-sm-none
                            | 目前全臺屋齡30年以上的戶數超過400萬，
                            br
                            | 未來十年會增至近600萬戶。
                            br
                            | 面對全臺大量老化房屋，
                            br.d-block.d-sm-none
                            | 政府積極修訂「都市更新三法」來加速推動，
                            br
                            | 研討會將匯集各方智言與推動經驗進行探討，
                            br.d-block.d-sm-none
                            | 期盼提升民眾居住品質。
                            br
                            | 全程直播，歡迎收看！
                        .activity-info
                            p
                                span.tag 日期
                                | 2019年12月7日(六)  13:30~16:30
                            p
                                span.tag 地點
                                | 臺北商業大學 承曦樓10樓 國際會議廳 (濟南路一段321號)
                                a.map-icon(href='https://goo.gl/maps/qx5TtxQojwdGvAkM8' target='_blank' data-wow-duration='.8s' data-wow-delay='1s' data-wow-iteration='infinite')
                                    img(src='assets/cms/images/map-icon.png')
                        .info-list
                            a(href='#' data-toggle='modal' data-target='#guestModal') 與會貴賓
                            a(href='#' data-toggle='modal' data-target='#stepModal') 研討會流程
                            a(href='https://youtu.be/DpxiHB1jqi4/' target='_blank') 現場直播頻道
            section.about-renewal
                .wrap#about
                    .content
                        h3.wow.fadeInUp 什麼是危老都更
                        ul.wow.fadeInUp
                            li.pic01
                                a(href='https://www.wealth.com.tw/home/articles/22809' target='_blank')
                                    span 關鍵三問 老屋重建難題一次打包
                            li.pic02 
                                a(href='https://www.wealth.com.tw/home/articles/22807' target='_blank')
                                    span 簡易危老先熱身 再推大規模改建
                            li.pic03 
                                a(href='https://www.wealth.com.tw/home/articles/22808' target='_blank')
                                    span 破除三大謬誤 別讓老屋變棄屋
                            li.pic04 
                                a(href='https://www.wealth.com.tw/home/articles/22804' target='_blank')
                                    span 政策利多齊發 400萬戶老屋拚重生
                            li.pic05 
                                a(href='https://www.wealth.com.tw/home/articles/22810' target='_blank')
                                    span 建商3訣竅搞定50位地主 審查12天過關
                            li.pic06 
                                a(href='https://www.wealth.com.tw/home/articles/22981' target='_blank')
                                    span 財政部帶頭衝 「金援」老屋推重建
                            li.pic07 
                                a(href='https://www.wealth.com.tw/home/articles/23681' target='_blank')
                                    span 危老+都更，下一個內需兆元產業！
                            li.pic08 
                                a(href='https://www.wealth.com.tw/home/articles/23357' target='_blank')
                                    span 《財訊》首屆危老都更博覽會人氣爆滿！ 謝金河：努力把城市變美麗！
                            li.pic09 
                                a(href='https://www.wealth.com.tw/home/articles/23519' target='_blank')
                                    span 重建五部曲 危老都更案順利達陣
            section.playlist
                .wrap#playlist
                    .content
                        h3.wow.fadeInUp 精彩影片
                        ul.wow.fadeInUp
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/w7UQsUK2WWM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/tkclie0wPu8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/Ff_zNke7n7U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/kuFJytB6WgI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/cuyRjzq2JL0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            li
                                .video-content
                                    iframe(src="https://www.youtube.com/embed/muZ5ePhFU1U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            //section.gallary#gallary
            //    .wrap
            //        .content
            //            h3.wow.fadeInUp 精彩照片
            //            ul
            //                li.pic01
            //                    span
            //                        img(src='assets/cms/images/pic07.jpg')
            //                li.pic02
            //                    span
            //                        img(src='assets/cms/images/pic08.jpg')
            //                li.pic03
            //                    span
            //                        img(src='assets/cms/images/pic09.jpg')
            //                li.pic04
            //                    span
            //                        img(src='assets/cms/images/pic10.jpg')
            //                li.pic05
            //                    span
            //                        img(src='assets/cms/images/pic11.jpg')
            //                li.pic06
            //                    span
            //                        img(src='assets/cms/images/pic12.jpg')
            section.partner#partner
                .wrap 
                    .content
                        h3 合作夥伴
                        .partner-list
                            h4 指導單位
                            ul 
                                li
                                    img(src='assets/cms/images/logo/logo01.png')
                                li
                                    img(src='assets/cms/images/logo/logo02.png')
                        .partner-list
                            h4 主辦單位
                            ul 
                                li
                                    img(src='assets/cms/images/logo/logo03.png')
                        .partner-list
                            h4 共同主辦單位
                            ul 
                                li
                                    img(src='assets/cms/images/logo/logo04.png')
                                li
                                    img(src='assets/cms/images/logo/logo05.png')
                                li
                                    img(src='assets/cms/images/logo/logo10.png')
                        .partner-list
                            h4 協辦單位
                            ul 
                                li
                                    img(src='assets/cms/images/logo/logo06.png')
                                li
                                    img(src='assets/cms/images/logo/logo07.png')
                                li
                                    img(src='assets/cms/images/logo/logo08.png')
                                li
                                    img(src='assets/cms/images/logo/logo09.png')
                        .partner-list
                            h4 合作單位
                            img(src='assets/cms/images/logo/logo.png')
    // ============================== main close ===============================

    // ============================== footer start =============================
    footer 
        .footer-wrap
            | 本網站版權屬於財信雜誌社股份有限公司所有，
            br.br-xs-block
            | 未經本站同意，請勿擅用文字及圖案
            br
            | 服務專線：
            | （02）2551-2561分機224〜226
            span.d-none.d-sm-inline-block &emsp;\&emsp;
            br.d-block.d-sm-none
            | (02）2551-5228分機10〜12
    // ============================== footer close =============================
    #stageModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='stageModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src='assets/cms/images/house-icon-g.png')
                    h5.modal-title 
                        | 舞台活動
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ✕
                .modal-body
                    .time-line 
                        ul 
                            li.items 
                                .time 10:00~10:10
                                .list 
                                    ol 
                                        li.title 【博覽會開場】
                            li.items
                                .time 10:10~10:20
                                .list 
                                    ol 
                                        li.title 【開場表演】
                                        li 莊敬鼓隊、北商啦啦舞
                            li.items
                                .time 10:20~10:30
                                .list 
                                    ol
                                        li.title 【長官致詞】
                                        li 中華民國總統 蔡英文
                            li.items
                                .time 10:30~10:40
                                .list
                                    ol
                                        li.title 【啟動儀式】
                            li.items
                                .time 10:40~11:30
                                .list
                                    ol
                                        li.title 【危老都更小學堂Ⅰ】
                                        li 危老都更小常識有獎徵答
                            li.items
                                .time 12:00~12:30
                                .list
                                    ol
                                        li.title 【抽獎時間Ⅰ】
                            li.items
                                .time 12:30~13:30
                                .list
                                    ol
                                        li.title 【休息時間】
                            li.items
                                .time 13:30~14:20
                                .list
                                    ol
                                        li.title 【危老都更小學堂Ⅱ】
                                        li 危老都更小常識有獎徵答
                            li.items
                                .time 14:30~15:00
                                .list
                                    ol
                                        li.title 【小朋友唱唱跳跳學防災】
                                        li 東森YOYO台 柳丁哥哥&月亮姐姐
                            li.items
                                .time 15:30~16:00
                                .list
                                    ol
                                        li.title 【抽獎時間Ⅱ】
                            li.items
                                .time 16:00~
                                .list
                                    ol
                                        li.title 【博覽會圓滿結束】
    #stepModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='stepModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src='assets/cms/images/house-icon-g.png')
                    h5.modal-title
                        | 研討會流程
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ✕
                .modal-body
                    .time-line
                        ul
                            li.items
                                .time 13:30~14:00
                                .list
                                    ol
                                        li.title 【貴賓報到】
                            li.items
                                .time 14:00~14:10
                                .list
                                    ol
                                        li.title 【長官致詞】
                                        li 行政院政務委員 龔明鑫
                            li.items
                                .time 14:10~14:15
                                .list
                                    ol
                                        li.title 【貴賓合影】
                            li.items
                                .time 14:15~15:00
                                .list
                                    ol
                                        li.title 【相關單位長官致詞】
                            li.items
                                .time 15:00~15:30
                                .list
                                    ol
                                        li.title 【專題演講】
                                        li 議題：都更、合建、危老3途徑 迎接樂居好城市
                                        li 主講人：內政部次長 花敬群
                            li.items
                                .time 15:30~16:30
                                .list
                                    ol
                                        li.title 【專題研討】
                                        li 主持人：財訊雙週刊社長 謝金河
                                        li 與談人：
                                        li 內政部營建署署長 吳欣修
                                        li 臺灣中小企業銀行董事長 黃博怡
                                        li 臺灣金聯資產管理公司代理董事長 郭文進
                                        li 臺灣金融聯合都市更新服務公司董事長 林旺根
                                        li 國家住宅及都市更新中心執行長 張溫德
                                        li 現代地政聯盟關係企業召集人 王進祥
                                        li 唐璽建設(股)公司董事長 董景翔
                            li.items
                                .time 16:30~
                                .list
                                    ol
                                        li 活動圓滿結束
                        p *因席次有限，主辦單位保有報名審核及活動內容等權利*
    #activityModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='activityModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src='assets/cms/images/house-icon-g.png')
                    h5.modal-title
                        | 活動體驗
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ✕
                .modal-body
                    figure
                        img(src='assets/cms/images/pic-yoyo.png')
                        figcaption 小朋友唱唱跳跳學防災─東森YOYO台
                            br
                            | 月亮姐姐&柳丁哥哥
                    figure
                        img(src='assets/cms/images/pic13.png')
                        figcaption 一、地震車體驗
                    figure
                        img(src='assets/cms/images/pic14.png')
                        figcaption 二、模擬裝修體驗
                    figure
                        img(src='assets/cms/images/pic15.png')
                        figcaption 三、小小工程師
                    figure
                        img(src='assets/cms/images/pic16.png')
                        figcaption 四、小小藝術家
                    p 活動內容僅供參考，依實際為準，主辦單位有保留變更之權利。
                    
    //#boothModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='boothModalLabel', aria-hidden='true')
    //    .modal-dialog(role='document')
    //        .modal-content
    //            .modal-header
    //                img(src='assets/cms/images/house-icon-g.png')
    //                h5.modal-title
    //                    | 攤位內容
    //                button.close(type='button', data-dismiss='modal', aria-label='Close')
    //                    span(aria-hidden='true') ✕
    //            .modal-body
    #guestModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='lotteryModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src='assets/cms/images/house-icon-g.png')
                    h5.modal-title
                        | 與會貴賓
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ✕
                .modal-body
                    figure
                        .media(style='background-image: url("assets/cms/images/avatar/avatar02.png");')
                        figcaption
                            p 謝金河
                                span 財訊雙週刊社長
                    figure
                        .media(style='background-image: url("assets/cms/images/avatar/avatar01.png");')
                        figcaption
                            p 花敬群
                                span 內政部次長
                    figure
                        .media(style='background-image: url("assets/cms/images/avatar/avatar10.png");')
                        figcaption
                            p 莊翠雲
                                span 財政部次長
                    figure
                        .media(style='background-image: url("assets/cms/images/avatar/avatar03.png");')
                        figcaption
                            p 吳欣修
                                span 內政部營建署署長
                    figure
                        .media(style='background-image: url("assets/cms/images/avatar/avatar04.png");')
                        figcaption
                            p 黃博怡
                                span 臺灣中小企業銀行
                                    br
                                    | 董事長
                    figure
                        .media(style='background-image: url("assets/cms/images/avatar/avatar05.png");')
                        figcaption
                            p 郭文進
                                span 臺灣金聯資產管理公司
                                    br
                                    | 代理董事長
                    figure
                        .media(style='background-image: url("assets/cms/images/avatar/avatar06.png");')
                        figcaption
                            p 林旺根
                                span 臺灣金融
                                    br
                                    | 聯合都市更新服務公司
                                    br
                                    | 董事長
                    figure
                        .media(style='background-image: url("assets/cms/images/avatar/avatar07.png");')
                        figcaption
                            p 張溫德
                                span 國家住宅及都市更新中心執行長
                    figure
                        .media(style='background-image: url("assets/cms/images/avatar/avatar08.png");')
                        figcaption
                            p 王進祥
                                span 現代地政聯盟關係企業
                                    br
                                    | 召集人
                    figure
                        .media(style='background-image: url("assets/cms/images/avatar/avatar09.png");')
                        figcaption
                            p 董景翔
                                span 唐璽建設(股)公司董事長
    #lotteryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='lotteryModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    img(src='assets/cms/images/house-icon-g.png')
                    h5.modal-title
                        | 抽獎專區
                    p.subtitle -集點蓋章抽大獎-
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ✕
                .modal-body.pb-0
                    .content
                        p.title 抽獎時段
                        p 上午場：12:00-12:30
                            br
                            | 下午場：15:30-16:00
                    .content
                        p.title 抽獎方式與獎項
                        p 凡參加活動並完成指定通關任務，就有機會抽中
                        p.item 
                            span.item-title iPhone 11
                                br
                                span.value (價值24,900元)
                            span.person 二名
                        p.item 
                            span.item-title TiDdi V560陀螺儀智慧規劃導航機器人
                                br
                                span.value (價值13,800元)
                            span.person 一名
                        p.item 
                            span.item-title 九陽高速破壁冷熱調理機JYL-Y15M
                                br
                                span.value (價值12,900元)
                            span.person 三名
                        p.item 
                            span.item-title LOTUS新頂級平底鍋 24cm
                                br
                                span.value (價值6,690元)   
                            span.person 四名
                        p.item 
                            span.item-title 九陽多功能豆漿機 DJ13M-G1
                                br
                                span.value (價值5,200元)
                            span.person 八名
                        p.item 
                            span.item-title IONION LX隨身空氣清淨機
                                br
                                span.value (價值4,980元)
                            span.person 四名
                        p.item 
                            span.item-title 飛馬20吋6段變速折疊腳踏車
                                br
                                span.value (價值4,950元)
                            span.person 二名
                        p.item 
                            span.item-title 九陽北山電燉鍋 D-35Z2M
                                br
                                span.value (價值4,680元)
                            span.person 十名
                        p.item 
                            span.item-title 德國博依紅外線燈 IL50
                                br
                                span.value (價值4,280元)
                            span.person 六名
                        p.item 
                            span.item-title 德國博依熱敷墊-熱水袋造型
                                br
                                span.value (價值2,480元)
                            span.person 六名
                        ul.award
                            li
                                img(src='assets/cms/images/award01.jpg')
                            li
                                img(src='assets/cms/images/award02.jpg')
                            li
                                img(src='assets/cms/images/award03.jpg')
                .modal-header.pt-0
                    p.subtitle -危老都更小學堂有獎徵答-
                .modal-body
                    .content
                        p.title 活動時段
                        p 上午場：10:40-11:30
                            br
                            | 下午場：13:30-14:20
                    .content
                        p.title 活動獎項
                        p.item 
                            span.item-title KOR ONE信念水瓶
                                br
                                span.value (價值950元)
                            span.person 六十名
                        p.item 
                            span.item-title 竹蓋雙層玻璃隨身瓶
                                br
                                span.value (價值500元)
                            span.person 五十名
                        p.item 
                            span.item-title Dalli強效洗衣膠球
                                br
                                span.value (價值499元)
                            span.person 四十名
                        ul.award
                            li
                                img(src='assets/cms/images/award04.jpg')
                            li
                                img(src='assets/cms/images/award05.jpg')
                            li
                                img(src='assets/cms/images/award06.jpg')


// Common
script(src='assets/cms/js/module/jquery.min.js')
script(src='assets/cms/js/bootstrap/bootstrap.min.js')
script(src='assets/cms/js/bootstrap/bootstrap.bundle.min.js')
script(src='assets/cms/js/module/wow.min.js')
script(src='assets/cms/js/main.js')
script.
    $(function () {
        new WOW().init();
    });